<!DOCTYPE html>
<html>
  <head>
    <script src="./vendors/angular.min.js" charset="utf-8"></script>
    <script src="./vendors/angular-animate.min.js" charset="utf-8"></script>
    <script src="./scripts/homeClient.js" charset="utf-8"></script>
    <script src="./scripts/factoryClient.js" charset="utf-8"></script>
    <link rel="stylesheet" href="./style/master.css">
    <title>code_lib logged in</title>
  </head>
  <body ng-app="myApp" ng-controller="homeController" ng-init="init();">
    <header>
      <h1>_{{firstName | capitalize}} {{lastName | capitalize}}</h2>
    </header>
    <div id="left-column"></div>

    <main>
      <div id="nav" class="nav_column" >
        <h1>code_lib</h1>

        <h2>Tech</h2>
        <ul>
          <li ng-repeat="tech in techCategory"><p ng-click="showSubCat(this.$index);">{{ tech }}</p></li>
        </ul>
        <div class="add_field" >
          <input ng-model="techIn" type="text" placeholder="Enter Technology">
          <input ng-click="addTechCat();" type="button" value="Add">
        </div>
      </div>

      <div id="sub-categories" class="nav_column" ng-class="{hide: hideSubCat}" >
        <h2>Sub Categories</h2>
        <ul>
          <li ng-repeat='sub in subCategory'><p ng-click="showCodeOpt(this.$index);">{{ sub }}</p></li>
        </ul>
        <div class="add_field">
          <div id="in-tech">in {{selectedTech.name}}</div>
          <input ng-model="subIn" type="text" placeholder="Enter Sub Category">
          <input ng-click="addSubCat();" type="button" value="Add">
        </div>
      </div>

      <div id="entry-opt" class="nav_column" ng-class="{hide: hideCodeOpt}">
        <h2>Entries</h2>
        <ul>
          <li ng-repeat='code in codeList'><p ng-click="showCodebyIndex(this.$index);">{{ code }}</p></li>
        </ul>
      </div>

      <div ng-hide="hideAddEdit" id="add-edit-page" >
        <div id="add-field">
          <h2>Add Code</h2>
          <div class="selectCat">
            <label>Select a Technology:</label>
            <ul ng-repeat="tech in techCategory" ng-click="setTechCat(this.$index);setSubCat(0);" >
              <li  ng-class="{selected: this.tech === selectedTech.name}" >{{ tech }}</li> </ul>
          </div>
          <div class="selectCat" >
            <label>Select a Technology:</label>
            <ul ng-repeat="sub in subCategory" ng-click="setSubCat(this.$index);" >
              <li  ng-class="{selected: this.sub === selectedSub.name}" >{{ sub }} </p> </li> </ul>
          </div>
          <div>
            <label>Name:</label>
            <input ng-model="codeNameIn" type="text" name="codeName" value="">
          </div>
          <div>
            <label>Syntax:</label>
            <textarea ng-model="syntaxIn" type="text" name="syntax" value=""></textarea>
          </div>
          <div>
            <label>Git Hub URL:</label>
            <input ng-model="gitHubIn" type="text" name="gitHub" value="">
          </div>
          <div>
            <label>Resource URL:</label>
            <input ng-model="resourceOneIn" type="text" name="resource" value="">
            <input ng-model="resourceTwoIn" type="text" name="resource" value="">
            <input ng-model="resourceThreeIn" type="text" name="resource" value="">
          </div>
          <div>
            <label for="notes">Notes:</label>
            <textarea ng-model="notesIn" type="text" name="notes" value=""></textarea>
          </div>
          <input ng-click="addCodeEntry();" type="button" value="Add">
        </div>
      </div>

      <div ng-hide="hideCodeEntry" ng-class="{moveLeft: moveCodeLeft}" id="code-entry">
        <h2>{{codeEntry.name}}</h2>
        <div>
          <label>Syntax</label>
          <pre id="code-syntax" >{{codeEntry.syntax}}</pre>
        </div>
        <div id="code-links-div">
          <div class="links">
            <label>Git Hub Project:</label>
            <p><a ng-href={{codeEntry.gitHub}} target="_blank">{{ codeEntry.gitHub | onlyProjectName }}</a></p>
          </div>
          <div class="links">
            <label>Resources:</label>
            <p><a ng-href={{codeEntry.resourceOne}} target="_blank">{{ codeEntry.resourceOne | onlyWebSiteName }}</a></p>
            <p><a ng-href={{codeEntry.resourceTwo}} target="_blank">{{ codeEntry.resourceTwo | onlyWebSiteName }}</a></p>
            <p><a ng-href={{codeEntry.resourceThree}} target="_blank">{{ codeEntry.resourceThree | onlyWebSiteName }}</a></p>
          </div>
        </div>
        <div>
          <label>Notes:</label>
          <p id="code-notes">{{ codeEntry.notes }}</p>
        </div>
      </div>

      <div id="search-bar">
        <input ng-click="hideAddEdit = false;" type="button" name="add" value="+">
        <input ng-model="searchIn" ngtype="text" name="search" placeholder="Search...">
        <p type="button" name="Log Out" >Log Out</p>
      </div>

      <div id="search-results" ng-class="{hide: hideSearchResults}">
        <h2>Searching for: "{{searchIn}}"</h2>
        <p  ng-repeat="results in searchResults | filter:{name: searchBy}" ng-click="showCode(this.results)" >{{results.name}}</p>
      </div>

    </main>
  </body>
</html>
